*elc
.DS_Store
.newsrc-dribble
.nnmail-cache
.svn
/#.newsrc-dribble#
/ac-comphist.dat
/eproject.lst
\#*
auto-save-list
backups/*
elim/
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc~
history
image-dired/
loaddefs.el*
oddmuse/*
places
thumbs/*
tramp
url/cookies
